html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111;
  color: white;
}

header a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}